@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Bold.eot');
    src: url('../fonts/MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MinionPro-Bold.woff2') format('woff2'),
        url('../fonts/MinionPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Regular.eot');
    src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MinionPro-Regular.woff2') format('woff2'),
        url('../fonts/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}